.header-container {
    position: relative;
    width: 100%;
    img{
        width: 100%;
    } 
    h1 {
        position: absolute;
        top: 59%;
        left: 5%;
        width: 100%;
        .h1()
    }
}