.header-container {
    position: relative;
    width: 100%;
    img{
        width: 100%;
    } 
    h1 {
        position: absolute;
        top: 59%;
        left: 5%;
        width: 100%;
        .h1()
    }
}

.row {
    display: flex;
    padding: 50px;
    align-items: center;
    height: 300px;
    justify-content: space-between;
    .row-img{
        height: 100%;
    }
    .row-title-h3{
        .h3();
    }
}
