.nav-container{
    display: flex;
    font-size: 1.2rem;
    height: 40px;
    background-color: #9AA4AE;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: white;
    .nav-logo{
        font-weight: bold;
    }
    .nav-item-container{
        a {
            text-decoration: none;
            color: white;
        }
    }
}